[include]
	path = .gitconfig.user

[pull]
	rebase = false
[init]
	defaultBranch = master

[core]
	editor = nvim

[alias]
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	ss = status
	sst = status -uno
	br = branch
	brm = branch -m
	co = checkout
	cob = checkout -b
	ad = add
	adu = add -u .
	mg = merge
	mgff = merge --ff
	cp = cherry-pick
	cm = commit
	icm = commit -m [init]
	difff = diff --word-diff
	ps = push
	pso = push -u origin
	pl = pull
	plo = pull origin
